# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sln
*.csproj
*.unityproj
Sugaropolis/Library/
Sugaropolis/Temp/
Sugaropolis/obj/
Sugaropolis/Assets/Wwise/
Sugaropolis/WWISE_TEST/
FTE_Sugaropolis/.backup/2016-07-22.23h04m42s/States/Default Work Unit.wwu
FTE_Sugaropolis/.backup/
Sugaropolis/FTE_Sugaropolis/.backup/
Sugaropolis/FTE_Sugaropolis/.cache/
Sugaropolis/Assets/XInputDotNet/
